DCS2015/Web References/ph_com_allcard_philhealth_secura/Allcard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SelectCompanyForDataCapturing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_keyValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDates" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectCompanyForDataCapturingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SelectCompanyForDataCapturingResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SP100">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_keyValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SP100Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SP100Result" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRecordIfExistingByPhilhealthNoAndName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_keyValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPhilhealthNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strFName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Response" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRecordIfExistingByPhilhealthNoAndNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckRecordIfExistingByPhilhealthNoAndNameResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Response" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRecordIfExisting_PhilhealthNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_keyValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPhilhealthNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRecordIfExisting_PhilhealthNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckRecordIfExisting_PhilhealthNoResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRecordIfExisting_FirstMiddleLast">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_keyValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strFName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRecordIfExisting_FirstMiddleLastResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckRecordIfExisting_FirstMiddleLastResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SelectCompanyForDataCapturingSoapIn">
    <wsdl:part name="parameters" element="tns:SelectCompanyForDataCapturing" />
  </wsdl:message>
  <wsdl:message name="SelectCompanyForDataCapturingSoapOut">
    <wsdl:part name="parameters" element="tns:SelectCompanyForDataCapturingResponse" />
  </wsdl:message>
  <wsdl:message name="SP100SoapIn">
    <wsdl:part name="parameters" element="tns:SP100" />
  </wsdl:message>
  <wsdl:message name="SP100SoapOut">
    <wsdl:part name="parameters" element="tns:SP100Response" />
  </wsdl:message>
  <wsdl:message name="CheckRecordIfExistingByPhilhealthNoAndNameSoapIn">
    <wsdl:part name="parameters" element="tns:CheckRecordIfExistingByPhilhealthNoAndName" />
  </wsdl:message>
  <wsdl:message name="CheckRecordIfExistingByPhilhealthNoAndNameSoapOut">
    <wsdl:part name="parameters" element="tns:CheckRecordIfExistingByPhilhealthNoAndNameResponse" />
  </wsdl:message>
  <wsdl:message name="CheckRecordIfExisting_PhilhealthNoSoapIn">
    <wsdl:part name="parameters" element="tns:CheckRecordIfExisting_PhilhealthNo" />
  </wsdl:message>
  <wsdl:message name="CheckRecordIfExisting_PhilhealthNoSoapOut">
    <wsdl:part name="parameters" element="tns:CheckRecordIfExisting_PhilhealthNoResponse" />
  </wsdl:message>
  <wsdl:message name="CheckRecordIfExisting_FirstMiddleLastSoapIn">
    <wsdl:part name="parameters" element="tns:CheckRecordIfExisting_FirstMiddleLast" />
  </wsdl:message>
  <wsdl:message name="CheckRecordIfExisting_FirstMiddleLastSoapOut">
    <wsdl:part name="parameters" element="tns:CheckRecordIfExisting_FirstMiddleLastResponse" />
  </wsdl:message>
  <wsdl:portType name="AllcardSoap">
    <wsdl:operation name="SelectCompanyForDataCapturing">
      <wsdl:input message="tns:SelectCompanyForDataCapturingSoapIn" />
      <wsdl:output message="tns:SelectCompanyForDataCapturingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SP100">
      <wsdl:input message="tns:SP100SoapIn" />
      <wsdl:output message="tns:SP100SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckRecordIfExistingByPhilhealthNoAndName">
      <wsdl:input message="tns:CheckRecordIfExistingByPhilhealthNoAndNameSoapIn" />
      <wsdl:output message="tns:CheckRecordIfExistingByPhilhealthNoAndNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckRecordIfExisting_PhilhealthNo">
      <wsdl:input message="tns:CheckRecordIfExisting_PhilhealthNoSoapIn" />
      <wsdl:output message="tns:CheckRecordIfExisting_PhilhealthNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckRecordIfExisting_FirstMiddleLast">
      <wsdl:input message="tns:CheckRecordIfExisting_FirstMiddleLastSoapIn" />
      <wsdl:output message="tns:CheckRecordIfExisting_FirstMiddleLastSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AllcardSoap" type="tns:AllcardSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectCompanyForDataCapturing">
      <soap:operation soapAction="http://tempuri.org/SelectCompanyForDataCapturing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP100">
      <soap:operation soapAction="http://tempuri.org/SP100" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRecordIfExistingByPhilhealthNoAndName">
      <soap:operation soapAction="http://tempuri.org/CheckRecordIfExistingByPhilhealthNoAndName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRecordIfExisting_PhilhealthNo">
      <soap:operation soapAction="http://tempuri.org/CheckRecordIfExisting_PhilhealthNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRecordIfExisting_FirstMiddleLast">
      <soap:operation soapAction="http://tempuri.org/CheckRecordIfExisting_FirstMiddleLast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AllcardSoap12" type="tns:AllcardSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectCompanyForDataCapturing">
      <soap12:operation soapAction="http://tempuri.org/SelectCompanyForDataCapturing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP100">
      <soap12:operation soapAction="http://tempuri.org/SP100" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRecordIfExistingByPhilhealthNoAndName">
      <soap12:operation soapAction="http://tempuri.org/CheckRecordIfExistingByPhilhealthNoAndName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRecordIfExisting_PhilhealthNo">
      <soap12:operation soapAction="http://tempuri.org/CheckRecordIfExisting_PhilhealthNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRecordIfExisting_FirstMiddleLast">
      <soap12:operation soapAction="http://tempuri.org/CheckRecordIfExisting_FirstMiddleLast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Allcard">
    <wsdl:port name="AllcardSoap" binding="tns:AllcardSoap">
      <soap:address location="http://philhealth.allcard.com.ph:2200/Allcard.asmx" />
    </wsdl:port>
    <wsdl:port name="AllcardSoap12" binding="tns:AllcardSoap12">
      <soap12:address location="http://philhealth.allcard.com.ph:2200/Allcard.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>